body {
  background: rgba(0, 0, 0, 0.03);
}
#header {
  width: 100%;
  max-width: 100%;
  height: 75px;
  background-image: url("../imgs/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#header h1 {
  color: white;
  text-align: center;
  font-family: 'Play', sans-serif;
}


.snipper-cards {
  margin-top: 3em;
}

.badge {
 font-size: 1.1em;
 font-family: 'Play', sans-serif;
}

/*.badge-info {*/
/*  height: 38px;*/
/*  padding-top: 1em;*/
/*  color: white;*/
/*}*/

.badge-info span {
  text-align: center;
  color: rgba(255, 255, 255, .3);
}



button:hover {
    cursor: pointer;
}

.card {
  height: 100%;
  margin: 1em auto;
  border-radius: 2em;
}

.col-md-4 {
  margin: .5em auto;
}

@media (max-width: 550px) {
  .display-4 {
    font-size: 2em;
  }

  #header {
    height: 100px;
  } #anagramResult.badge {
    font-size: 1em;
  }
}


@media (max-width: 800px) {
  .display-4 {
    font-size: 2.5em;
  }
}
